.heading {
    color: red;
}
.capitalPara {
    background-color: beige;
}

#firsth2 {
    background-color: pink;
}

span {
    padding: 0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}

p {
    border-width: 10px;
    border-style: ridge;
    border-color: lightgreen;
    margin: 5px;
}